/* STATISTICS.PHP */
.stats-container {
	position: relative;
	padding-bottom: 30px;
	margin-left:10px;	
}

.stats-title {
	padding: 10px 0;
	border-bottom: solid 1px #bbbbbb;
	font-weight: bold;
	color: #717171;
}

.stats-title img {
	margin-right: 10px;
}

.stats-content {
	padding: 0 10px 5px 0;
	border-bottom: 1px solid #bbbbbb;
}

.stats-content .per-stats {
	padding: 8px 0 8px 0;
	color: #7c7c7c;
}

.stats-content .per-stats .stats-results {
	margin-left: 50px;
}

.view-more-stats {
	position: absolute;
	bottom: 10px;
	right: 0;
	font-weight: bold;
	color: #7c7c7c !important;
}